<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.excel.datadownloader.secondgen">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/TransparentTheme"
        tools:replace="android:theme"
        android:usesCleartextTraffic="true">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.excel.datadownloader.secondgen.Receiver"
            android:exported="true">
            <intent-filter>
                <action android:name="connectivity_change" />
            </intent-filter>
        </receiver>

        <service android:name="com.excel.datadownloader.services.DownloadWallpaperService" />
        <service android:name="com.excel.datadownloader.services.DownloadHotelLogoService" />
        <service android:name="com.excel.datadownloader.services.DownloadOTAService" />
        <service android:name="com.excel.datadownloader.services.DownloadPreinstallApks" />
        <service android:name="com.excel.datadownloader.services.DownloadTvChannelsService" />
    </application>

</manifest>